/* Frame 7 */

position: relative;
width: 1191.41px;
height: 1685px;

transform: rotate(-180deg);


/* download 2 */

position: absolute;
width: 1148px;
height: 1685px;
left: -4px;
top: -5px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(download.png);


/* Group 6 */

position: absolute;
width: 519.13px;
height: 82.31px;
left: 607px;
top: 26px;

transform: rotate(-180deg);


/* Methodology */

position: absolute;
width: 82.31px;
height: 519.13px;
left: 607px;
top: 26px;

transform: rotate(90deg);


/* METHODOLOGY */

position: absolute;
width: 442.57px;
height: 22.73px;
left: 619.47px;
top: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23.4927px;
line-height: 28px;

color: #FFFFFF;



/* EMPATHIZE */

position: absolute;
width: 55.12px;
height: 7px;
left: 607px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 7.83089px;
line-height: 9px;
text-align: center;

color: #FFFFFF;



/* DEFINE */

position: absolute;
width: 48.33px;
height: 7.31px;
left: 731.01px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 7.83089px;
line-height: 9px;
text-align: center;

color: #FFFFFF;



/* IDEATE */

position: absolute;
width: 56.13px;
height: 7.31px;
left: 837.57px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 7.83089px;
line-height: 9px;
text-align: center;

color: #FFFFFF;



/* PROTOTYPE */

position: absolute;
width: 95.1px;
height: 7.31px;
left: 928.51px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 7.83089px;
line-height: 9px;
text-align: center;

color: #FFFFFF;



/* TEST */

position: absolute;
width: 40.54px;
height: 7.31px;
left: 1085.59px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 7.83089px;
line-height: 9px;
text-align: center;

color: #FFFFFF;



/* Group 5 */

position: absolute;
width: 499.6px;
height: 33.38px;
left: 619.47px;
top: 56.85px;

transform: rotate(-180deg);


/* Mask group */

position: absolute;
width: 499.6px;
height: 33.38px;
left: 619.47px;
top: 56.85px;



/* Group 4 */

position: absolute;
width: 499.6px;
height: 33.38px;
left: 619.47px;
top: 56.85px;



/* identify-with_10832157 1 */

position: absolute;
width: 31.99px;
height: 31.99px;
left: 619.47px;
top: 56.85px;

background: url(identify-with_10832157.png);


/* goal_5467547 1 */

position: absolute;
width: 31.99px;
height: 31.99px;
left: 738.99px;
top: 57.55px;

background: url(goal_5467547.png);


/* creativity_4861046 1 */

position: absolute;
width: 31.99px;
height: 31.99px;
left: 849.86px;
top: 57.55px;

background: url(creativity_4861046.png);


/* 3d_1723816 1 */

position: absolute;
width: 31.99px;
height: 31.99px;
left: 960.73px;
top: 57.55px;

background: url(3d_1723816.png);


/* test_8518419 1 */

position: absolute;
width: 28.09px;
height: 31.99px;
left: 1090.98px;
top: 58.24px;

background: url(test_8518419.png);


/* Rectangle 8 */

position: absolute;
width: 505.14px;
height: 38.97px;
left: 621.03px;
top: 53.6px;

background: #FFFFFF;


/* Arrow 1 */

box-sizing: border-box;

position: absolute;
width: 55.12px;
height: 0px;
left: 668.55px;
top: 75px;

border: 1px solid #FFFFFF;


/* Arrow 2 */

box-sizing: border-box;

position: absolute;
width: 57.87px;
height: 0px;
left: 783.37px;
top: 75px;

border: 1px solid #FFFFFF;


/* Arrow 3 */

box-sizing: border-box;

position: absolute;
width: 48.69px;
height: 0px;
left: 893.6px;
top: 75px;

border: 1px solid #FFFFFF;


/* Arrow 4 */

box-sizing: border-box;

position: absolute;
width: 55.12px;
height: 0px;
left: 1012.1px;
top: 75px;

border: 1px solid #FFFFFF;


/* IVEN-TRON - AUTONOMOUS SMART WAREHOUSE SYSTEM */

position: absolute;
width: 473px;
height: 160px;
left: 42px;
top: 247px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 9px 6px rgba(0, 0, 0, 0.25);


/* Group 8 */

position: absolute;
width: 367px;
height: 200px;
left: 763px;
top: 1469px;

transform: rotate(-180deg);


/* Group 3 */

position: absolute;
width: 198px;
height: 362px;
left: 768px;
top: 1471px;

transform: rotate(90deg);


/* Course Code */

position: absolute;
width: 70.48px;
height: 18px;
left: 768px;
top: 1471px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Course Name */

position: absolute;
width: 73.19px;
height: 18px;
left: 768px;
top: 1493px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Mentor */

position: absolute;
width: 40.66px;
height: 18px;
left: 768px;
top: 1516px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Team */

position: absolute;
width: 31.17px;
height: 18px;
left: 768px;
top: 1539px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Members */

position: absolute;
width: 51.5px;
height: 18px;
left: 768px;
top: 1560px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* DS3001 */

position: absolute;
width: 40.66px;
height: 18px;
left: 867px;
top: 1471px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Engineering Design - Including Design and Fabrication Project */

position: absolute;
width: 263px;
height: 17px;
left: 867px;
top: 1493px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Dr. Sunil Aggrawal */

position: absolute;
width: 263px;
height: 18px;
left: 867px;
top: 1516px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* DFP - 38 */

position: absolute;
visibility: hidden;
width: 384.48px;
height: 18px;
left: 828.29px;
top: 1544.37px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14.1835px;
line-height: 17px;
/* or 120% */

color: #FFFFFF;



/* Animesh (23BDS013) Aditya Kumar (23BCS012) Ankit Raj (23BCS028) Aniket Mishra (23BEC016) Jigyasa (23BEC053) Tarun Gupta (23BSM062) */

position: absolute;
width: 263px;
height: 72px;
left: 867px;
top: 1563px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 12px;
/* or 133% */

color: #FFFFFF;



/* DFP - 38 */

position: absolute;
width: 135.54px;
height: 6px;
left: 867px;
top: 1545px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 6px;
/* identical to box height, or 67% */

color: #FFFFFF;



/* Pandit Dwarka Prasad Mishra Indian Institute of Information Technology, Jabalpur */

position: absolute;
width: 263px;
height: 28px;
left: 867px;
top: 1641px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 11px;

color: #FFFFFF;



/* Line 2 */

position: absolute;
width: 172px;
height: 0px;
left: 763px;
top: 1469px;

transform: rotate(90deg);


/* Line 8 */

position: absolute;
width: 172px;
height: 0px;
left: 862px;
top: 1469px;

transform: rotate(90deg);


/* Line 3 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1469px;



/* Line 4 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1491px;



/* Line 5 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1514px;



/* Line 6 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1537px;



/* Line 7 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1560px;



/* Group 18 */

position: absolute;
width: 698px;
height: 180px;
left: 39px;
top: 1472px;

transform: rotate(-180deg);


/* Rectangle 12 */

position: absolute;
width: 698px;
height: 180px;
left: 39px;
top: 1472px;

background: rgba(0, 0, 0, 0.64);
border-radius: 12px;


/* Group 11 */

position: absolute;
width: 684.26px;
height: 156px;
left: 52.74px;
top: 1483px;

transform: rotate(-180deg);


/* PROBLEM STATEMENT */

position: absolute;
width: 446.3px;
height: 42.55px;
left: 52.74px;
top: 1483px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;

color: #FFFFFF;



/* Current warehouse operations in small to medium-scale enterprises are inefficient due to a heavy reliance on manual labor, lack of real-time inventory visibility, and the inability to predict fluctuating market demand. This results in operational bottlenecks, frequent human errors, and financial losses caused by stock mismanagement. */

position: absolute;
width: 682.89px;
height: 113px;
left: 54.11px;
top: 1526px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */

color: #FFFFFF;



/* Group 10 */

position: absolute;
width: 434px;
height: 168px;
left: 655px;
top: 1249px;

transform: rotate(-180deg);


/* IDENTIFIED PROBLEMS */

position: absolute;
width: 389.45px;
height: 27px;
left: 669.79px;
top: 1249px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Manual workflows create bottleneck, errors and safety risks. Paper logs cause visibility gaps and time lags. Storage decisions are not data-driven. SMEs lack integrated tracking + prediction tech. Industrial robots are expensive and infrastructure-heavy. */

position: absolute;
width: 434px;
height: 113px;
left: 655px;
top: 1304px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */

color: #FFFFFF;



/* TECHNICAL DRAWING */

position: absolute;
width: 278px;
height: 31.2px;
left: 115px;
top: 950px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Group 40 */

position: absolute;
width: 523px;
height: 962px;
left: 18px;
top: 424px;

transform: rotate(-180deg);


/* Group 26 */

position: absolute;
width: 518px;
height: 931.99px;
left: calc(50% - 518px/2 - 313.71px);
top: 454.01px;

transform: rotate(-180deg);


/* Rectangle 27 */

position: absolute;
width: 252px;
height: 112px;
left: 289px;
top: 590.01px;

background: rgba(0, 0, 0, 0.6);


/* Rectangle 28 */

position: absolute;
width: 252px;
height: 112px;
left: 23px;
top: 590.01px;

background: rgba(0, 0, 0, 0.6);


/* Rectangle 29 */

position: absolute;
width: 518px;
height: 112px;
left: 23px;
top: 454.01px;

background: rgba(0, 0, 0, 0.6);


/* Rectangle 30 */

position: absolute;
width: 518px;
height: 377px;
left: 23px;
top: 1009px;

background: rgba(0, 0, 0, 0.75);


/* Group 24 */

position: absolute;
width: 482px;
height: 73px;
left: 49px;
top: 609.01px;

transform: rotate(-180deg);


/* GAP Affordable automation + predictive intelligence. */

position: absolute;
width: 198px;
height: 73px;
left: 49px;
top: 609.01px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
/* or 142% */
text-align: center;

color: #FFFFFF;



/* OPPORTUNITY Low-cost robotic storage + RL-based demand prediction. */

position: absolute;
width: 231px;
height: 72px;
left: 300px;
top: 609.01px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
/* or 142% */
text-align: center;

color: #FFFFFF;



/* Group 23 */

position: absolute;
width: 474.25px;
height: 150px;
left: 18px;
top: 424px;

transform: rotate(-180deg);


/* MARKET ANALYSIS */

position: absolute;
width: 278px;
height: 31.2px;
left: 130px;
top: 424px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Group 25 */

position: absolute;
width: 474.25px;
height: 97px;
left: 18px;
top: 477px;

transform: rotate(-180deg);


/* Industry leaders (Amazon, AutoStore) use high-cost robotic systems. Traditional SMEs rely on manual labor with poor accuracy. */

position: absolute;
width: 329px;
height: 97px;
left: 18px;
top: 477px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */

color: #FFFFFF;



/* Group 22 */

position: absolute;
width: 121.25px;
height: 27px;
left: 371px;
top: 477px;



/* autostore-logo-vector-removebg-preview 2 */

position: absolute;
width: 24.96px;
height: 27px;
left: 371px;
top: 477px;

background: url(autostore-logo-vector-removebg-preview.png);


/* Mask group */

position: absolute;
width: 121.25px;
height: 27px;
left: 371px;
top: 477px;



/* autostore-logo-vector-removebg-preview 1 */

position: absolute;
width: 121.25px;
height: 27px;
left: 371px;
top: 477px;

background: url(autostore-logo-vector-removebg-preview.png);


/* Rectangle 24 */

position: absolute;
width: 98.32px;
height: 21.91px;
left: 395.96px;
top: 482.09px;

background: #FFFFFF;


/* Group 23 */

position: absolute;
width: 87.2px;
height: 26.99px;
left: 360px;
top: 521px;



/* Group 21 */

position: absolute;
width: 87.2px;
height: 26.99px;
left: 360px;
top: 521px;



/* pngwing.com (2) 2 */

position: absolute;
width: 87.2px;
height: 11.03px;
left: 360px;
top: 536.96px;

background: url(pngwing.com (2).png);


/* Mask group */

position: absolute;
width: 87.2px;
height: 26.99px;
left: 360px;
top: 521px;



/* pngwing.com (2) 1 */

position: absolute;
width: 87.2px;
height: 26.99px;
left: 360px;
top: 521px;

background: url(pngwing.com (2).png);


/* Rectangle 25 */

position: absolute;
width: 87.2px;
height: 19.65px;
left: 360px;
top: 517.31px;

background: #D9D9D9;


/* USER SURVEY */

position: absolute;
width: 510.61px;
height: 27px;
left: 612px;
top: 570px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Line 9 */

position: absolute;
width: 342px;
height: 0px;
left: 614px;
top: 516px;



/* Line 14 */

position: absolute;
width: 342px;
height: 0px;
left: 616px;
top: 178px;



/* Line 11 */

position: absolute;
width: 342px;
height: 0px;
left: 20px;
top: 920px;



/* Line 12 */

position: absolute;
width: 342px;
height: 0px;
left: 20px;
top: 734px;



/* Line 13 */

position: absolute;
width: 342px;
height: 0px;
left: 20px;
top: 1417px;



/* Line 10 */

position: absolute;
width: 342px;
height: 0px;
left: 614px;
top: 1197px;



/* Group 39 */

position: absolute;
width: 506px;
height: 536px;
left: 612px;
top: 629px;



/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 934px;
top: 884px;



/* Ellipse 1 */

position: absolute;
width: 61px;
height: 62px;
left: 934px;
top: 884px;

background: #D9D9D9;


/* image 16 */

position: absolute;
width: 247.35px;
height: 104.29px;
left: 874px;
top: 851px;

background: url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 669px;
top: 1103px;



/* Ellipse 2 */

position: absolute;
width: 61px;
height: 62px;
left: 669px;
top: 1103px;

background: #D9D9D9;


/* image 16 */

position: absolute;
width: 244.56px;
height: 106.8px;
left: 611px;
top: 1070px;

background: url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 931px;
top: 988px;



/* Ellipse 3 */

position: absolute;
width: 61px;
height: 62px;
left: 931px;
top: 988px;

background: #D9D9D9;


/* image 16 */

position: absolute;
width: 244.56px;
height: 106.8px;
left: 872px;
top: 955px;

background: url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 933px;
top: 665px;



/* Ellipse 5 */

position: absolute;
width: 61px;
height: 62px;
left: 933px;
top: 665px;

background: #D9D9D9;


/* image 16 */

position: absolute;
width: 235.08px;
height: 106.52px;
left: 873px;
top: 631px;

background: url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 672px;
top: 666px;



/* Ellipse 6 */

position: absolute;
width: 61px;
height: 62px;
left: 672px;
top: 666px;

background: #D9D9D9;


/* image 16 */

position: absolute;
width: 244.84px;
height: 105.97px;
left: 612px;
top: 631px;

background: url(image.png), url(image.png), url(image.png), url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 934px;
top: 772px;



/* Ellipse 2 */

position: absolute;
width: 61px;
height: 62px;
left: 934px;
top: 772px;

background: #D9D9D9;


/* image 15 */

position: absolute;
width: 247.35px;
height: 104.85px;
left: 876px;
top: 739px;

background: url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 932px;
top: 1103px;



/* Ellipse 2 */

position: absolute;
width: 61px;
height: 62px;
left: 932px;
top: 1103px;

background: #D9D9D9;


/* image 15 */

position: absolute;
width: 247.35px;
height: 106.8px;
left: 874px;
top: 1071px;

background: url(image.png);


/* Mask group */

position: absolute;
width: 61px;
height: 62px;
left: 670px;
top: 886px;



/* Ellipse 4 */

position: absolute;
width: 61px;
height: 62px;
left: 670px;
top: 886px;

background: #D9D9D9;


/* image 17 */

position: absolute;
width: 244.56px;
height: 106.8px;
left: 611px;
top: 852px;

background: url(image.png);


/* Group 38 */

position: absolute;
width: 237px;
height: 111px;
left: 612px;
top: 734px;



/* 3. What challenges do you face while picking items? */

position: absolute;
width: 148px;
height: 23px;
left: 616px;
top: 734px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Items placed too deep */

position: absolute;
width: 43px;
height: 4px;
left: 637px;
top: 771px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: right;

color: #FFFFFF;



/* Items too heavy */

position: absolute;
width: 43px;
height: 4px;
left: 637px;
top: 783px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: right;

color: #FFFFFF;



/* Risk of items falling */

position: absolute;
width: 43px;
height: 4px;
left: 637px;
top: 795px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: right;

color: #FFFFFF;



/* Misalignment with shelf */

position: absolute;
width: 48px;
height: 4px;
left: 631px;
top: 807px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: right;

color: #FFFFFF;



/* Need to bend or stretch too much */

position: absolute;
width: 67px;
height: 4px;
left: 612px;
top: 819px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: right;

color: #FFFFFF;



/* None */

position: absolute;
width: 67px;
height: 4px;
left: 612px;
top: 830px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: right;

color: #FFFFFF;



/* 0.0 */

position: absolute;
width: 8px;
height: 4px;
left: 676px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* 2.5 */

position: absolute;
width: 8px;
height: 4px;
left: 709px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* 5.0 */

position: absolute;
width: 8px;
height: 4px;
left: 742px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* 7.5 */

position: absolute;
width: 8px;
height: 4px;
left: 775px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* 10.0 */

position: absolute;
width: 8px;
height: 4px;
left: 808px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* 12.5 */

position: absolute;
width: 8px;
height: 4px;
left: 841px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* Group 34 */

position: absolute;
width: 236px;
height: 111px;
left: 616px;
top: 952px;



/* Item location mismatches */

position: absolute;
width: 49px;
height: 6px;
left: 631px;
top: 989px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Missing/barcode errors */

position: absolute;
width: 49px;
height: 6px;
left: 635px;
top: 1017px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Hard to use */

position: absolute;
width: 49px;
height: 6px;
left: 657px;
top: 1032px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* System is reliable, no majorissues */

position: absolute;
width: 62px;
height: 10px;
left: 617px;
top: 1043px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 5px;
display: flex;
align-items: center;
text-align: right;

color: #FFFFFF;



/* Slow scanning or updating */

position: absolute;
width: 50px;
height: 23px;
left: 629px;
top: 994px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 0 */

position: absolute;
width: 8px;
height: 4px;
left: 679px;
top: 1059px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */

color: #FFFFFF;



/* 2 */

position: absolute;
width: 8px;
height: 4px;
left: 712px;
top: 1059px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */

color: #FFFFFF;



/* 4 */

position: absolute;
width: 8px;
height: 4px;
left: 745px;
top: 1059px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */

color: #FFFFFF;



/* 6 */

position: absolute;
width: 8px;
height: 4px;
left: 778px;
top: 1059px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */

color: #FFFFFF;



/* 8 */

position: absolute;
width: 8px;
height: 4px;
left: 811px;
top: 1059px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */

color: #FFFFFF;



/* 10 */

position: absolute;
width: 8px;
height: 4px;
left: 844px;
top: 1059px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 4px;
/* or 100% */

color: #FFFFFF;



/* 7. What problems do you face with the current inventory system? */

position: absolute;
width: 184px;
height: 23px;
left: 616px;
top: 952px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Group 31 */

position: absolute;
width: 216px;
height: 63px;
left: 880px;
top: 734px;



/* Very often */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 770px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Sometimes */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 777px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Rarely */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 784px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Never */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 791px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 4. How often do items get stuck or damaged during picking? */

position: absolute;
width: 172px;
height: 23px;
left: 880px;
top: 734px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 17 */

position: absolute;
width: 4px;
height: 4px;
left: 1042px;
top: 771px;

background: #3366CC;


/* Ellipse 18 */

position: absolute;
width: 4px;
height: 4px;
left: 1042px;
top: 778px;

background: #DC3912;


/* Ellipse 19 */

position: absolute;
width: 4px;
height: 4px;
left: 1042px;
top: 785px;

background: #FF9900;


/* Ellipse 20 */

position: absolute;
width: 4px;
height: 4px;
left: 1042px;
top: 792px;

background: #109618;


/* Group 33 */

position: absolute;
width: 230px;
height: 62px;
left: 617px;
top: 849px;



/* Yes, fully digital */

position: absolute;
width: 49px;
height: 6px;
left: 784px;
top: 884px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Mostly manual */

position: absolute;
width: 49px;
height: 6px;
left: 784px;
top: 898px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Completely manual */

position: absolute;
width: 49px;
height: 6px;
left: 784px;
top: 905px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Partly digital (mixed with manual) */

position: absolute;
width: 63px;
height: 23px;
left: 784px;
top: 882px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 5. Does your warehouse use any digital inventory management system? */

position: absolute;
width: 203px;
height: 23px;
left: 617px;
top: 849px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 21 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 885px;

background: #3366CC;


/* Ellipse 22 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 892px;

background: #DC3912;


/* Ellipse 23 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 899px;

background: #FF9900;


/* Ellipse 24 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 906px;

background: #109618;


/* Group 37 */

position: absolute;
width: 227px;
height: 62px;
left: 616px;
top: 1066px;



/* Yes, definitely */

position: absolute;
width: 49px;
height: 6px;
left: 783px;
top: 1101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Not necessary */

position: absolute;
width: 49px;
height: 6px;
left: 783px;
top: 1115px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* No */

position: absolute;
width: 49px;
height: 6px;
left: 783px;
top: 1122px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Maybe, depending on accuracy */

position: absolute;
width: 60px;
height: 23px;
left: 783px;
top: 1100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 9. Would you prefer automation that updates inventory automatically? */

position: absolute;
width: 198px;
height: 23px;
left: 616px;
top: 1066px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 25 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 1102px;

background: #3366CC;


/* Ellipse 26 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 1109px;

background: #DC3912;


/* Ellipse 27 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 1116px;

background: #FF9900;


/* Ellipse 28 */

position: absolute;
width: 4px;
height: 4px;
left: 778px;
top: 1123px;

background: #109618;


/* Group 36 */

position: absolute;
width: 215px;
height: 62px;
left: 879px;
top: 1066px;



/* Yes, a lot */

position: absolute;
width: 49px;
height: 6px;
left: 1045px;
top: 1101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Likely */

position: absolute;
width: 49px;
height: 6px;
left: 1045px;
top: 1108px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Unsure */

position: absolute;
width: 49px;
height: 6px;
left: 1045px;
top: 1115px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Not likely */

position: absolute;
width: 49px;
height: 6px;
left: 1045px;
top: 1122px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 10. Overall, how likely are you to support warehouse automation? */

position: absolute;
width: 184px;
height: 23px;
left: 879px;
top: 1066px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 29 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 1102px;

background: #3366CC;


/* Ellipse 30 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 1109px;

background: #DC3912;


/* Ellipse 31 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 1116px;

background: #FF9900;


/* Ellipse 32 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 1123px;

background: #109618;


/* Group 35 */

position: absolute;
width: 216px;
height: 62px;
left: 877px;
top: 952px;



/* Very often */

position: absolute;
width: 49px;
height: 6px;
left: 1044px;
top: 987px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Sometimes */

position: absolute;
width: 49px;
height: 6px;
left: 1044px;
top: 994px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Rarely */

position: absolute;
width: 49px;
height: 6px;
left: 1044px;
top: 1001px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Never */

position: absolute;
width: 49px;
height: 6px;
left: 1044px;
top: 1008px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 8. How often do you face out-of-stock or misplacement issues? */

position: absolute;
width: 180px;
height: 23px;
left: 877px;
top: 952px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 33 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 988px;

background: #3366CC;


/* Ellipse 34 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 995px;

background: #DC3912;


/* Ellipse 35 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 1002px;

background: #FF9900;


/* Ellipse 36 */

position: absolute;
width: 4px;
height: 4px;
left: 1039px;
top: 1009px;

background: #109618;


/* Group 29 */

position: absolute;
width: 216px;
height: 68px;
left: 618px;
top: 629px;



/* 1. How do you currently pick items from shelves? */

position: absolute;
width: 138px;
height: 23px;
left: 618px;
top: 629px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Manually by hand */

position: absolute;
width: 34px;
height: 7px;
left: 785px;
top: 664px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Using ladders/step stools */

position: absolute;
width: 49px;
height: 6px;
left: 785px;
top: 672px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Using forklifts */

position: absolute;
width: 49px;
height: 6px;
left: 785px;
top: 678px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Using trolleys */

position: absolute;
width: 49px;
height: 6px;
left: 785px;
top: 685px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Other equipment */

position: absolute;
width: 49px;
height: 6px;
left: 785px;
top: 691px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Ellipse 7 */

position: absolute;
width: 4px;
height: 4px;
left: 779px;
top: 665px;

background: #3366CC;


/* Ellipse 8 */

position: absolute;
width: 4px;
height: 4px;
left: 779px;
top: 672px;

background: #DC3912;


/* Ellipse 9 */

position: absolute;
width: 4px;
height: 4px;
left: 779px;
top: 679px;

background: #FF9900;


/* Ellipse 10 */

position: absolute;
width: 4px;
height: 4px;
left: 779px;
top: 686px;

background: #109618;


/* Ellipse 11 */

position: absolute;
width: 4px;
height: 4px;
left: 779px;
top: 693px;

background: #990099;


/* Group 30 */

position: absolute;
width: 226px;
height: 69px;
left: 880px;
top: 629px;



/* Top shelves */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 664px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Middle shelves */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 670px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Bottom shelves */

position: absolute;
width: 49px;
height: 6px;
left: 1047px;
top: 677px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Deep shelves (items far inside) */

position: absolute;
width: 59px;
height: 9px;
left: 1047px;
top: 682px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* All equally difficult */

position: absolute;
width: 59px;
height: 9px;
left: 1047px;
top: 689px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 2. Which shelf levels are most difficult to access? */

position: absolute;
width: 140px;
height: 23px;
left: 880px;
top: 629px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 12 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 664px;

background: #3366CC;


/* Ellipse 13 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 671px;

background: #DC3912;


/* Ellipse 14 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 678px;

background: #FF9900;


/* Ellipse 15 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 685px;

background: #109618;


/* Ellipse 16 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 692px;

background: #990099;


/* Group 32 */

position: absolute;
width: 239px;
height: 73px;
left: 879px;
top: 847px;



/* Mobile scanner / handheld device */

position: absolute;
width: 64px;
height: 23px;
left: 1046px;
top: 874px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Computer terminal */

position: absolute;
width: 36px;
height: 23px;
left: 1046px;
top: 880px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Paper logs / physical lists */

position: absolute;
width: 48px;
height: 23px;
left: 1046px;
top: 887px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Asking supervisor */

position: absolute;
width: 34px;
height: 23px;
left: 1046px;
top: 894px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 23px;
/* identical to box height, or 567% */
display: flex;
align-items: center;

color: #FFFFFF;



/* We don’t check — items are manuallysearched */

position: absolute;
width: 72px;
height: 10px;
left: 1046px;
top: 910px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 4px;
line-height: 5px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 6. How do you currently check item availability or location? */

position: absolute;
width: 167px;
height: 23px;
left: 879px;
top: 847px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 23px;
/* identical to box height, or 378% */

color: #FFFFFF;



/* Ellipse 37 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 883px;

background: #3366CC;


/* Ellipse 38 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 890px;

background: #DC3912;


/* Ellipse 39 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 897px;

background: #FF9900;


/* Ellipse 40 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 904px;

background: #109618;


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1041px;
top: 911px;

background: #990099;


/* Group 27 */

position: absolute;
width: 165px;
height: 71px;
left: 680px;
top: 987px;



/* Line 21 */

position: absolute;
width: 165px;
height: 0px;
left: 680px;
top: 1058px;

border: 0.1px solid #DDDDDD;


/* Line 22 */

position: absolute;
width: 165px;
height: 0px;
left: 680px;
top: 987px;

border: 0.1px solid #DDDDDD;


/* Line 16 */

position: absolute;
width: 71px;
height: 0px;
left: 713px;
top: 987px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 17 */

position: absolute;
width: 71px;
height: 0px;
left: 746px;
top: 987px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 18 */

position: absolute;
width: 71px;
height: 0px;
left: 779px;
top: 987px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 19 */

position: absolute;
width: 71px;
height: 0px;
left: 812px;
top: 987px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 20 */

position: absolute;
width: 71px;
height: 0px;
left: 845px;
top: 987px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Rectangle 29 */

position: absolute;
width: 99px;
height: 9px;
left: 680px;
top: 990px;

background: #673AB7;


/* Rectangle 30 */

position: absolute;
width: 165px;
height: 9px;
left: 680px;
top: 1004px;

background: #673AB7;


/* Rectangle 31 */

position: absolute;
width: 116px;
height: 9px;
left: 680px;
top: 1018px;

background: #673AB7;


/* Rectangle 32 */

position: absolute;
width: 83px;
height: 9px;
left: 680px;
top: 1032px;

background: #673AB7;


/* Rectangle 33 */

position: absolute;
width: 33px;
height: 9px;
left: 680px;
top: 1046px;

background: #673AB7;


/* Line 15 */

position: absolute;
width: 71px;
height: 0px;
left: 680px;
top: 987px;

border: 0.3px solid #FFFFFF;
transform: rotate(90deg);


/* Group 28 */

position: absolute;
width: 165px;
height: 71px;
left: 680px;
top: 767px;



/* Line 21 */

position: absolute;
width: 165px;
height: 0px;
left: 680px;
top: 838px;

border: 0.1px solid #DDDDDD;


/* Line 22 */

position: absolute;
width: 165px;
height: 0px;
left: 680px;
top: 767px;

border: 0.1px solid #DDDDDD;


/* Line 16 */

position: absolute;
width: 71px;
height: 0px;
left: 713px;
top: 767px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 17 */

position: absolute;
width: 71px;
height: 0px;
left: 746px;
top: 767px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 18 */

position: absolute;
width: 71px;
height: 0px;
left: 779px;
top: 767px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 19 */

position: absolute;
width: 71px;
height: 0px;
left: 812px;
top: 767px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Line 20 */

position: absolute;
width: 71px;
height: 0px;
left: 845px;
top: 767px;

border: 0.1px solid #DDDDDD;
transform: rotate(90deg);


/* Rectangle 29 */

position: absolute;
width: 79px;
height: 8px;
left: 680px;
top: 769px;

background: #673AB7;


/* Rectangle 35 */

position: absolute;
width: 106px;
height: 8px;
left: 680px;
top: 793px;

background: #673AB7;


/* Rectangle 37 */

position: absolute;
width: 145px;
height: 8px;
left: 680px;
top: 805px;

background: #673AB7;


/* Rectangle 36 */

position: absolute;
width: 106px;
height: 8px;
left: 680px;
top: 817px;

background: #673AB7;


/* Rectangle 34 */

position: absolute;
width: 53px;
height: 8px;
left: 680px;
top: 781px;

background: #673AB7;


/* Line 15 */

position: absolute;
width: 71px;
height: 0px;
left: 680px;
top: 767px;

border: 0.3px solid #FFFFFF;
transform: rotate(90deg);


/* PROJECT OVERVIEW */

position: absolute;
width: 389.45px;
height: 27px;
left: 672px;
top: 218px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* The project focuses on designing and developing an IoT-enabled smart warehouse automation system that autonomously handles, stores, and manages finished products without human intervention. To enhance operational efficiency, a ML model predicts daily production requirements based on demand patterns and stock levels, helping prevent both shortages and overstocking. Overall, the system addresses key challenges in modern warehouses such as manual dependency, inaccurate inventory tracking, inefficient storage utilization, and the need for intelligent, adaptive production planning. */

position: absolute;
width: 492px;
height: 226px;
left: 614px;
top: 261px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* Group 17 */

position: absolute;
width: 456px;
height: 142px;
left: 23px;
top: 757px;

transform: rotate(-180deg);


/* Group 13 */

position: absolute;
width: 430px;
height: 42px;
left: 24px;
top: 857px;

transform: rotate(-180deg);


/* Line 9 */

position: absolute;
width: 342px;
height: 0px;
left: 31px;
top: 889px;



/* Reducing human handling to speed up operations */

position: absolute;
width: 358px;
height: 30px;
left: 96px;
top: 869px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 23px;
/* or 151% */

color: #FFFFFF;



/* Rectangle 11 */

position: absolute;
width: 71px;
height: 32px;
left: 24px;
top: 857px;

background: #62432F;
border-radius: 6px;


/* HOW? */

position: absolute;
width: 70px;
height: 28px;
left: 25px;
top: 859px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.79);


/* Group 16 */

position: absolute;
width: 454px;
height: 42px;
left: 25px;
top: 807px;

transform: rotate(-180deg);


/* Line 9 */

position: absolute;
width: 342px;
height: 0px;
left: 32px;
top: 839px;



/* Inventory records frequently mismatch physical stock */

position: absolute;
width: 382px;
height: 30px;
left: 97px;
top: 819px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 23px;
/* or 151% */

color: #FFFFFF;



/* Rectangle 11 */

position: absolute;
width: 71px;
height: 32px;
left: 25px;
top: 807px;

background: #62432F;
border-radius: 6px;


/* WHY? */

position: absolute;
width: 70px;
height: 28px;
left: 26px;
top: 809px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.79);


/* Group 15 */

position: absolute;
width: 431px;
height: 42px;
left: 23px;
top: 757px;

transform: rotate(-180deg);


/* Line 9 */

position: absolute;
width: 342px;
height: 0px;
left: 30px;
top: 789px;



/* Strategy to prevent overstocking and stockouts? */

position: absolute;
width: 351px;
height: 30px;
left: 103px;
top: 769px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 23px;
/* or 151% */

color: #FFFFFF;



/* Rectangle 11 */

position: absolute;
width: 79px;
height: 32px;
left: 23px;
top: 757px;

background: #62432F;
border-radius: 6px;


/* WHAT? */

position: absolute;
width: 78px;
height: 28px;
left: 24px;
top: 759px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.79);


/* Mask group */

position: absolute;
width: 418px;
height: 404.95px;
left: 58px;
top: 1009px;



/* 1231 1 */

position: absolute;
width: 418px;
height: 404.95px;
left: 58px;
top: 1009px;

background: url(1231.png);


/* Rectangle 38 */

position: absolute;
width: 416.33px;
height: 362.67px;
left: 59.92px;
top: 1009px;

background: #FFFFFF;
