/* Frame 10 */

position: relative;
width: 1191.41px;
height: 1685px;

transform: rotate(-180deg);


/* download 2 */

position: absolute;
width: 1148px;
height: 1685px;
left: -4px;
top: -5px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(download.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* IVEN-TRON - AUTONOMOUS SMART WAREHOUSE SYSTEM */

position: absolute;
width: 473px;
height: 160px;
right: 77.41px;
top: 207px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 9px 6px rgba(0, 0, 0, 0.25);


/* 3 1 */

position: absolute;
width: 480px;
height: 1081px;
left: 356px;
top: 338px;

background: url(3.png);


/* Group 10 */

position: absolute;
width: 367px;
height: 200px;
left: 763px;
top: 1469px;

transform: rotate(-180deg);


/* Group 3 */

position: absolute;
width: 198px;
height: 362px;
left: 768px;
top: 1471px;

transform: rotate(90deg);


/* Course Code */

position: absolute;
width: 70.48px;
height: 18px;
left: 768px;
top: 1471px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Course Name */

position: absolute;
width: 73.19px;
height: 18px;
left: 768px;
top: 1493px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Mentor */

position: absolute;
width: 40.66px;
height: 18px;
left: 768px;
top: 1516px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Team */

position: absolute;
width: 31.17px;
height: 18px;
left: 768px;
top: 1539px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Members */

position: absolute;
width: 51.5px;
height: 18px;
left: 768px;
top: 1560px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* DS3001 */

position: absolute;
width: 40.66px;
height: 18px;
left: 867px;
top: 1471px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Engineering Design - Including Design and Fabrication Project */

position: absolute;
width: 263px;
height: 17px;
left: 867px;
top: 1493px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* Dr. Sunil Aggrawal */

position: absolute;
width: 263px;
height: 18px;
left: 867px;
top: 1516px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
/* or 189% */

color: #FFFFFF;



/* DFP - 38 */

position: absolute;
visibility: hidden;
width: 384.48px;
height: 18px;
left: 828.29px;
top: 1544.37px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14.1835px;
line-height: 17px;
/* or 120% */

color: #FFFFFF;



/* Animesh (23BDS013) Aditya Kumar (23BCS012) Ankit Raj (23BCS028) Aniket Mishra (23BEC016) Jigyasa (23BEC053) Tarun Gupta (23BSM062) */

position: absolute;
width: 263px;
height: 72px;
left: 867px;
top: 1563px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 12px;
/* or 133% */

color: #FFFFFF;



/* DFP - 38 */

position: absolute;
width: 135.54px;
height: 6px;
left: 867px;
top: 1545px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 6px;
/* identical to box height, or 67% */

color: #FFFFFF;



/* Pandit Dwarka Prasad Mishra Indian Institute of Information Technology, Jabalpur */

position: absolute;
width: 263px;
height: 28px;
left: 867px;
top: 1641px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 11px;

color: #FFFFFF;



/* Line 2 */

position: absolute;
width: 172px;
height: 0px;
left: 763px;
top: 1469px;

transform: rotate(90deg);


/* Line 8 */

position: absolute;
width: 172px;
height: 0px;
left: 862px;
top: 1469px;

transform: rotate(90deg);


/* Line 3 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1469px;



/* Line 4 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1491px;



/* Line 5 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1514px;



/* Line 6 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1537px;



/* Line 7 */

position: absolute;
width: 342px;
height: 0px;
left: 763px;
top: 1560px;



/* Group 11 */

position: absolute;
width: 527px;
height: 333px;
left: 56px;
top: 54px;

transform: rotate(-180deg);


/* Design Detailing (Engineering Overview) */

position: absolute;
width: 527px;
height: 24px;
left: 56px;
top: 54px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;

color: #FFFFFF;



/* IVEN-TRON is a compact, modular autonomous warehouse robot integrating mechanical, electrical, and software subsystems. A lightweight aluminum chassis with a gear-motor–driven vertical lift, linear guides, and limit switches ensures rigid structure and safe height adjustment. Box handling is performed using a servo-actuated U-shaped gripper supported by a sliding gap-bridge mechanism. The robot uses a differential-drive base with high-torque DC motors, assisted by IR, ultrasonic, and limit sensors for navigation and safety. An Arduino Mega with L298N motor drivers, a regulated 12 V power system, and wireless communication enables real-time inventory updates through a finite-state control architecture. */

position: absolute;
width: 517.97px;
height: 295px;
left: 57.13px;
top: 92px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */

color: #FFFFFF;



/* Group 54 */

position: absolute;
width: 432px;
height: 285px;
left: 100px;
top: 416px;

transform: rotate(-180deg);


/* Group 9 */

position: absolute;
width: 432px;
height: 33px;
left: 100px;
top: 416px;

transform: rotate(-180deg);


/* UTILITY */

position: absolute;
width: 432px;
height: 33px;
left: 100px;
top: 416px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Group 53 */

position: absolute;
width: 432px;
height: 248px;
left: 100px;
top: 453px;

transform: rotate(-180deg);


/* Group 43 */

position: absolute;
width: 128px;
height: 112px;
left: 404px;
top: 453px;

transform: rotate(-180deg);


/* Rectangle 31 */

position: absolute;
width: 128px;
height: 112px;
left: 404px;
top: 453px;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(38, 38, 38, 0.6) 100%);


/* RL-based demand prediction prevents shortages/excess. */

position: absolute;
width: 122px;
height: 95px;
left: 407px;
top: 461px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* Group 48 */

position: absolute;
width: 128px;
height: 112px;
left: 252px;
top: 453px;

transform: rotate(-180deg);


/* Rectangle 31 */

position: absolute;
width: 128px;
height: 112px;
left: 252px;
top: 453px;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(38, 38, 38, 0.6) 100%);


/* Real-time sensor-based inventory visibility. */

position: absolute;
width: 122px;
height: 68px;
left: 255px;
top: 475px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* Group 49 */

position: absolute;
width: 128px;
height: 112px;
left: 100px;
top: 453px;

transform: rotate(-180deg);


/* Rectangle 31 */

position: absolute;
width: 128px;
height: 112px;
left: 100px;
top: 453px;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(38, 38, 38, 0.6) 100%);


/* Autonomous picking, lifting, and placing of items. */

position: absolute;
width: 122px;
height: 95px;
left: calc(50% - 122px/2 - 431.71px);
top: 461px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* Group 50 */

position: absolute;
width: 128px;
height: 112px;
left: 100px;
top: 589px;

transform: rotate(-180deg);


/* Rectangle 31 */

position: absolute;
width: 128px;
height: 112px;
left: 100px;
top: 589px;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(38, 38, 38, 0.6) 100%);


/* Raw material monitoring with automatic alerts. */

position: absolute;
width: 122px;
height: 68px;
left: 103px;
top: 606px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* Group 51 */

position: absolute;
width: 128px;
height: 112px;
left: 252px;
top: 589px;

transform: rotate(-180deg);


/* Rectangle 31 */

position: absolute;
width: 128px;
height: 112px;
left: 252px;
top: 589px;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(38, 38, 38, 0.6) 100%);


/* Low-cost tech suitable for SMEs. */

position: absolute;
width: 122px;
height: 45px;
left: 255px;
top: 622px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* Group 52 */

position: absolute;
width: 128px;
height: 112px;
left: 404px;
top: 589px;

transform: rotate(-180deg);


/* Rectangle 31 */

position: absolute;
width: 128px;
height: 112px;
left: 404px;
top: 589px;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(38, 38, 38, 0.6) 100%);


/* Higher safety and efficiency with reduced human error. */

position: absolute;
width: 122px;
height: 95px;
left: 407px;
top: 597px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */
text-align: center;

color: #FFFFFF;



/* BILL OF MATERIALS */

position: absolute;
width: 299px;
height: 27px;
left: 728px;
top: 398px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* Group 55 */

position: absolute;
width: 518px;
height: 248px;
left: 57px;
top: 776px;

transform: rotate(-180deg);


/* Need Identification and Justification */

position: absolute;
width: 518px;
height: 27px;
left: 57px;
top: 776px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.6936px;
line-height: 27px;
/* identical to box height */
text-transform: uppercase;

color: #FFFFFF;



/* Manual material handling in SME warehouses leads to delays, errors, worker fatigue, and inconsistent inventory records. Conventional solutions like forklifts and conveyors lack precision and are unsuitable for narrow or compact warehouse layouts. Unpredictable inflow of goods causes workflow disruptions and storage congestion. Manual inventory logging results in stock mismatches and financial losses. A compact, affordable autonomous system with real-time tracking and ML-based forecasting is required to improve efficiency and decision-making. */

position: absolute;
width: 518px;
height: 227px;
left: 57px;
top: 797px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 162% */

color: #FFFFFF;



/* Table 2 */

position: absolute;
width: 299px;
height: 1030px;
left: 728px;
top: 429px;

background: url(Table.png);


/* 6 1 */

position: absolute;
width: 286px;
height: 457px;
left: 121px;
top: 1112px;

background: url(6.png);
